<div id="index" style="display:none;" class="topBar">
    <div id="nav" class="clearfix fs16">
        <div class="fleft">
            <a class="logo fleft" href="javascript:void (0)">
                <img src="../../images/logo_head.png" width="36" height="36">
            </a>
            <ul class="mainNav">
                <li><a href="#/index/main">首页</a></li>
                <li><a href="#/index/shop" >组件商店</a></li>
                <li><a  href="#/login" >管理中心</a></li>
            </ul>
        </div>
    </div>
</div>
