
<div id="login" style="display:none;">
    <a href="#/index/main">主页</a>
    <a href="#/index/shop">商城</a>
    <a href="#/login">个人中心</a>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <img src="images/icon.png" class="" alt="">
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="请输入您的用户名">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="请输入您的密码">
        </div>
        <button type="button" class="btn btn-primary btn-block login-btn"><a href="login/success.html">点我登录</a></button>
        <a href="./reg.html">注册</a>
        <a href="./reset.html" style="float:right;">重置</a>
      </div>
    </div>
  </div>
</div>
