<div id="resetpw" style="display:none;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <input type="password" id="resetPwd" class="form-control" placeholder="请输入您的密码">
        </div>
        <div class="form-group">
          <input type="password" id="rResetPwd" class="form-control" placeholder="请重新输入您的密码">
        </div>
        <button type="button" class="btn btn-primary btn-block reset-btn">点我提交</button>
      </div>
    </div>
  </div>
</div>