<div  style="height: 80px;">
</div>
<div id="indexShop" style="display:none;">
    <!--头部导航-->
    <div class="navBar fc-gray fs16">
        <div class="w1170 clearfix pos-r">
            <ul id="appBizType">
                <li><span>全部</span></li>
                <li><span>投研资讯</span></li>
                <li><span>营销活动</span></li>
                <li><span>生活助手</span></li>
                <li><span>休闲娱乐</span></li>
                <li><span>其他</span></li>
            </ul>
            <div class="line mt40"></div>
            <ul class="shopList clearfix" style="width: 100%">
                <li>
                    <div class="zujianBox">
                        <img class="lazy" width="100%" src="//light.hscloud.cn/data/file/57eccd970056741c52c226cf?type=image&amp;width=375" style="display: inline;">
                    </div>
                </li>
                <li>
                    <div class="zujianBox">
                        <img class="lazy" width="100%" src="//light.hscloud.cn/data/file/57eccdc40056741c52c226d2?type=image&amp;width=375" style="display: inline;">
                    </div>
                </li>
                <li>
                    <div class="zujianBox">
                        <img class="lazy" width="100%" src="//light.hscloud.cn/data/file/57ecd6ad246fa03711211ef9?type=image&amp;width=375" style="display: inline;">
                    </div>
                </li>
                <li>
                    <div class="zujianBox">
                        <img class="lazy" width="100%" src="//light.hscloud.cn/data/file/57eccd860056741c52c226cd?type=image&amp;width=375" style="display: inline;">
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
